<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>Логово Коровски</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
</script>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="text-decoration:none;">></a>
        <a href="/info" style="text-decoration: none;">Обо мне</a>
        <a href="/blog" style="text-decoration: none;">Блог</a>
        <a href="/portfolio" style="text-decoration: none;">Портфолио</a>
    </div>
    <div style="position: fixed; right: 10px; top: 250px;">
     <img src="/media/navBttn.png" style="cursor: pointer;" onclick="openNav()">
     </div>
    <div class="page-header">
        <h1>{{ page_title }}</h1>
    </div>
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>
